@import '../main/parameters';
@import '../mixins/mixins';

.forms__container {
    display: flex;
    justify-content: space-between;
    margin-top: 8.5rem;
}
.form {
    width: 540px;
    height: 212px;
    background: $c-primary;
    padding: 3.5rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

    &__left{
        width: 25rem;


    }
    &__title{
        font-size: 1.8rem;
        line-height: 2.1rem;
    }
    &__text{
        font-size: 1.4rem;
        line-height: 2rem;
        margin: 2.5rem 0;
        width: 23rem;
    }
    &__btn{
        border: 0.2rem solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 3rem;
        width: 17rem;
        height: 3.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__input{
        width: 22.5rem;

    }
}

.impuls{

    &__container{
        display: flex;
        flex-wrap: wrap;
        height: 35.7rem;
        background: white;
        padding: 0;
        margin-top: 8.5rem;
    }
    &__item{
        width: 28.5rem;
        height: 11.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.5px solid #EFEFEF;
    }
}
