//GRID
//точки адаптива
$lg: 1310px;
$md: 1024px;
$sm: 768px;
$xs: 576px;

//Цвета макета
$c-primary: #F13C6E;//основной цвет макета
$c-add: #0076af;//дополнительный цвет макета
$c-text: #000;//основной цвет текста макета
$c-text2: #333;//дополнительный цвет текста макета


// Рандомные переменные проекта
$c-bg-gray: #E5E5E5;

// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Roboto', sans-serif;//основной
$headers-font: 'Roboto', sans-serif;//для заголовков
